<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/drones"> Drones List </a>
    <br>
    <a href="/drones/new"> Create a new Drone </a>
    <br>
    <%- body %>
  </body>
</html>
